body{
    font-family: "Roboto", sans-serif;
}

#box{
    border: blue 3px solid;
    width:457px;
    height:  138px;
    display: flex;
}
img{
    width: 130px;
    height: 126px;
}
#box1{
    border: yellow 3px solid;
    margin: 4px;
    height:  126px;
    width: 444px;
    display: flex;
    font-family: "Roboto", sans-serif;
    /* font-size: 20px; */
}
#text1{
    margin-left: 14px;
    font-family: "Roboto", sans-serif;
}
