
body{
    background-color: #eeeeee;
    font-family:"Quicksand", sans-serif;
}
nav{
    background: #1b232e;
    color: white;
    border-bottom: 5px solid #39c0e7;
    box-sizing: border-box;
    padding: 8px;

}

.container{
    width: 592px;
    height: 666px;
    background-color:#fff;
    padding:10px;
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:3px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 49%;
    left: 50%;
    border-top: 5px solid #39c0e7;
}

.container h2{
    letter-spacing: 1px;
    font-size: 25px ;
    font-weight: 650;
}
.content{
    font-size: 18px;
}

i{
    margin-right: 100px ;
    color: #1f7a54;
    margin-left: -138px;
}
.radio{
    margin-right: 180px;
    accent-color: green;
}

.input-group{ 
    position:relative; 
    margin-top: 50px; 
    font-size:15px;
}
.form-check-label{
    margin-right: 23px;
    margin-left: -73px;
    font-weight: 500;
}
.dropdown {
    border: 0;
    outline: none;
    border-bottom:0.1px solid #d4d2d2;
    font-size:16px;
    padding:10px 10px 12px 5px;
    display:block;
    width:520px;
    font-weight: 600;
    font-size: 17px;
}
#inputGroupSelect01{
    margin-top: 40px;
    margin-left: 30px;
    font-family:"Quicksand", sans-serif;
}

#inputGroupSelect02{
    margin-top: 55px;
    margin-left: 30px;
    font-family:"Quicksand", sans-serif;
}

.input-grp label{
    margin-top: 120px;
    color:rgb(97, 96, 96); 
    position:absolute;
    left:4px;
    top:10px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 500;

}

#label2{
    margin-top: 224px;
}
#radio1{
    margin-right:75px;
}

#radio2{
    margin-right:75px;
    margin-left: 31px;
}

#inputGroupSelect03{
    margin-top: 50px; 
    margin-left: 30px;
    width: 505px;
}

#inputGroupSelect04{
    margin-top: 40px; 
    margin-left: 30px;
    width: 505px;
    font-family:"Poppins", sans-serif;
}

.lowtext{
    color: #1f7a54;
    margin-left: 370px;
    font-family:"Quicksand", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.checkbox{
    margin-left: -378px;
    margin-bottom: 43px;
    accent-color: green;
}
.check-label{
    font-size: 18px;
    font-family:"Quicksand", sans-serif; 
    font-weight: 600;
}

.btn{
    background-color: #3fd28b;
    color: black;
    width: 220px;
    height: 40px;
    border: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    font-family:"Quicksand", sans-serif; 
    font-weight: 600;
    font-size: 15px;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e0e1e1;
    text-align: center;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(97, 96, 96);
    font-size: 15px;
}

.about-txt{
    position: fixed;
    left: 800px;
    bottom: 0;
    color: #1f7a54;
    padding: 60px;
    font-weight: 600;
}

.seperator{
    color: #c5c5c5;
    padding: 5px;
}

.fa-eye{
    position: absolute;
    top: 465px;
    left: 659px;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
}

.eye-btn{
    top: 445px;
    left: 720px;
    width: 50px;
    height: 100%;
}

.footer-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}